<?xml version="1.0"?>
<model>
  <name>simple_robot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>jaikrrishs</name>
    <email>jaikrrishs@todo.todo</email>
  </author>
  <description>
    A simple differential drive robot with a lidar.
  </description>
</model>
